<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebDemo</display-name>
  	<servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>cm.java.Sevet.StudentSevet</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/StudentSevet</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>LoginSevet</servlet-name>
        <servlet-class>cm.java.Sevet.LoginSevet</servlet-class>
    </servlet>

	<servlet-mapping>
        <servlet-name>LoginSevet</servlet-name>
        <url-pattern>/loginSevet</url-pattern>
    </servlet-mapping>
  <welcome-file-list>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    <welcome-file>./html/index.html</welcome-file>
    <welcome-file>./html/index.htm</welcome-file>
    <welcome-file>./html/index.jsp</welcome-file>
    <welcome-file>./html/default.html</welcome-file>
    <welcome-file>./html/default.htm</welcome-file>
    <welcome-file>./html/default.jsp</welcome-file>
  </welcome-file-list>
</web-app>